.experience {
  background: #ffffff;
  color: #000000;
}

.experience__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 65px 0 115px 0;
/*  background: -webkit-linear-gradient(left, #000000 40%, #ffffff 40%);
  background: -o-linear-gradient(left, #000000 40%, #ffffff 40%);
  background: linear-gradient(to right, #000000 40%, #ffffff 40%);*/
}

.experience__title {
  width: 100%;
  text-align: center;
  margin-bottom: 70px;
}

.experience__list,
.experiene__dates,
.experience__authority {
  padding: 0;
  list-style: none;
}

.experience__desc-wrapper {
  display: flex;
  width: 44%;
  flex-direction: column;
}

.experience__list {
  display: flex;
  width: 38%;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding-bottom: 54px;
}

.experience__authority li {
  margin-bottom: 8px;
  color: #000000;
}

.experiene__dates {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15%;
  margin: 0 3% 0 0;
  padding: 3px 0 58px 0;
}

.experiene__dates li {
  text-align: center;
}

.experience__authority {
  margin: 0;
  font-size: 18px;
}

.experience__authority:first-child {
  margin-bottom: 37px;
}

.experience__place {
  display: flex;
  margin: 0;
  font-size: 22px;
}

.experience__star {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.experiene__date-frontend {
  margin-top: 115px;
}

.experience__combiway {
  color: red;
}

.experience__combiway:hover,
.experience__combiway:focus {
  text-decoration: underline;
  transition: .3s;
}
