.page-header {
  background-color: #000000;
}

.page-header__wrapper {
  background-image: url(../img/jpg/header111.jpg);
  background-repeat: no-repeat;
  height: 700px;
  padding-top: 30px;
  box-shadow: inset 0px -65px 270px #000000;
}

.page-header__header-top {
  display: flex;
  justify-content: space-between;
}

.page-header__middle {
  display: flex;
  justify-content: space-between;
}

.page-header__greeting-wrapper {
  padding-top: 200px;
}

.page-header__greeting {
  color: #ffffff;
  text-align: center;
}

.page-header__greeting-description {
  color: #ffffff;
  max-width: 487px;
  text-align: center;
  line-height: 28px;
  margin-bottom: 25px;
}

.page-header__download-cv {
  display: flex;
  width: 130px;
  margin: auto;
  transition: .3s;
}

.page-header__download-cv:hover,
.page-header__download-cv:focus {
  box-shadow: 0 0 10px #ffffff;
  transition: .3s;
}

.page-header__download-black::after {
  content:"";
  position: absolute;
  top: 14px;
  left: 40px;
  background-repeat: no-repeat;
  background-image: url(../img/png/arrow.png);
  width: 15px;
  height: 11px;
}

.page-header__download-cv:hover .page-header__download-black::after,
.page-header__download-cv:focus .page-header__download-black::after {
   left: 45px;
   transition: .3s;
}

.page-header__download-white {
  padding: 10px 10px 10px 15px;
  background-color: #ffffff;
  font-weight: 600;
}

.page-header__download-black {
  position: relative;
  background-color: #000000;
  color: white;
  padding: 10px 35px 10px 10px;
}

.backToTop {
  position: fixed;
  width: 70px;
  height: 70px;
  background: #000000;
  bottom: 45px;
  right: 45px;
  transition: all 0.5s ease-in;
  opacity: 0;
  border-radius: 50%;
  z-index: 1;
  padding: 15px;
}

.backToTop-wrapper {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 50%;
  padding: 8px;
}

.backToTop span {
  text-align: center;
  font-weight: bold;
}

.backToTop-show {
  opacity: .6;
  cursor: pointer;
}

.backToTop-show:hover,
.backToTop-show:focus {
  opacity: 1;
  transition: .3s;
}

@media (max-width: 1239px) {
  .page-header__wrapper {
    background-position-x: -285px;
  }
}

@media (max-width: 839px) {
  .page-header__wrapper {
    background-image: url(../img/jpg/header11-tablet.jpg);
    background-position-x: -175px;
  }

  .page-header__greeting-wrapper {
    padding-top: 270px;
    width: 100%;
  }

  .page-header__middle {
    position: relative;
  }

  .social {
    position: absolute;
    right: 258px;
  }

  .page-header__download-cv {
    border: 1px solid white;
  }
}
