.technologies {
  padding: 100px 0 150px;
}

.technologies__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 75px 0;
}

.technologies__title-wrapper {
  display: flex;
  flex-direction: column;
}

.technologies__title {
  margin: 0 auto;
}

.technologies__text {
  margin: 0 auto;
}

.technologies__item {
  height: 225px;
  width: 375px;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

.technologies__item:nth-child(2) {
  margin: 0 30px 30px;
}

.technologies__item:nth-child(5) {
  margin: 0 30px;
}
